<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/luke-profile.jpg">
        <p>Hi! My name is Luke Flynn and I build web applications.</p>
        <p>I hope you enjoy my simple weather app.</p>
    </div>
    
    {{>footer}}
</body>

</html>